:root {
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 95%);
    --l-green-1: hsl(67, 81%, 94%);
    --l-green-2: hsl(74, 59%, 47%);
    --l-green-3: hsl(74, 71%, 33%);
    --l-green-4: hsl(174, 100%, 18%);
    --l-green-5: hsl(174, 93%, 11%);

    --d-green: hsl(180, 11%, 14%);
}