@use '../theme' as *;
@use '../components/functions' as u;

*, *::before, *::after {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Poppins';
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    color: $black;
    background-color: $dark;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

a, a:hover {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

figure {
    margin: 0;
    padding: 0;
}

figcaption {
    margin: 0;
    padding: 0;
}